numpy<2.0.0
streamlit
pandas
spacy<3.8.0
sentence-transformers
PyMuPDF
python-docx
pdf2image
pytesseract
beautifulsoup4
requests
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl
